*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* .main {
    border: solid 1px #3eba94;
} */
.logo {
    width: 100px;
    height: 50px;
}
.nav-link {
    color: black;
    float: right;
}
.nav-link:hover {
    background: #3eba94;
    color: white;
    border-radius: 3px;
}

.sect-intro {
    display: flex;
    flex-direction: row;
}

.sect-content {
    width: 50%;
    margin-top: 3em;
    padding: 2em;
}
.sect-content h1 {
    font-size: 2rem;
    color: #385a64;
    font-weight: bold;
}

.btn-intro {
    background: #3eba94;
    color: white;
}
.btn-intro:hover {
    background: white;
    color: #3eba94;
}
.cont-illustration {
    width: 50%;
}
.cont-illustration img {
    width: 100%;
    height: 450px;
}

.info {
    width: 100%;
    background: #3eba94;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 2em;
}
.cont-illustration2 {
    width: 40%;
}
.cont-illustration2 img {
    width: 100%;
    height: 300px;
    border-radius: 70%;
}

.info-content {
    width: 30%;
    margin-left: 9em;
}
.info-content h2 {
    color: white;
    font-size: 2rem;
}
.info-content p {
    color: white;
}
.choose {
    margin-left: 5em;
    margin-top: 2em;
    margin: 0 auto;
}

.choose ul {
    color: white;
    font-size: 1.1rem;
    padding-left: 1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.choose a {
    text-decoration: none;
}
.btn-opt {
    background: white;
    color: #3eba94;
    display: block;
    margin-left: 2em;
}
.btn-opt:hover {
    background: black;
    color: white;
}

.loan-section {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
    margin-top: 2em;
}

.loanCont {
    width: 30%;
    padding: 2em;
    margin-top: 2em;
    /* box-shadow: 5px 10px 8px 10px #888888; */
}
.loanCont a {
    text-decoration: none;
}
/* .loanCont:hover {
    background: #3eba94;
    color: white;
} */

.loanCont h3 {
    margin-top: 3em;
}

.loanCont p {
    text-align: justify;
}

.micro {
    width: 30%;
    padding: 2em;
    margin-top: 2em;
    box-shadow: 5px 10px 8px 10px #888888;
}

.micro p {
    line-height: 1em;
}

.micro:hover {
    background: #3eba94;
    color: white;
}
.micro i {
    font-size: 48px;
    color: white;
}

.sme {
    width: 30%;
    padding: 2em;
    box-shadow: 5px 10px 8px 10px #888888;
}

.sme h3 {
    font-size: 1.5rem;
}
.sme:hover {
    background: #3eba94;
    color: white;
}

.btn-loan {
    background: #3eba94;
    color: white;
    display: block;
}

.btn-loan:hover {
    background: black;
    color: white;
}

/* process section */
.process {
    margin-top: 5em;
}
.process a {
    text-decoration: none;
}
.process h2 {
    text-align: center;
    margin-bottom: 2em;
}
.pro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pro-container h3 {
    text-align: center;
}

.one {
    width: 30%;
    /* border: 1px solid teal; */
    padding: 2em;
}

.two {
    width: 30%;
    /* border: 1px solid red; */
    padding: 2em;
}

.three {
    width: 30%;
    /* border: 1px solid grey; */
    padding: 2em;
}

.circle {
    border-radius: 50%;
    background: #3eba94;
    color: white;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 3em;
}

.btn-apply {
    display: block;
    margin: 0 auto;
}

/* eligibilty check */

.loanForm h3 {
    text-align: center;
    font-weight: bold;
}

.form-container {
    display: block;
    margin: 0 auto;
    width: 70%;
}

label {
    padding-right: 1em;
}

input {
    padding: 2em;
    margin-bottom: 0.5em;
}
select {
    margin-bottom: 0.5em;
    text-align: center;
}

.day {
    margin-right: 0.5em;
}
.month {
    margin-right: 0.5em;
}

.amount {
    margin-left: 0.5em;
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal {
    width: 65%;
}

.add {
    margin-top: 3.5em;
}
/* .news {
    display: flex;
    flex-direction: row;
} */
.foot-input {
    width: 100px;
}
